.App {
  max-width: 960px;
  margin: 0 auto;
}

.Header {
  margin: 35px 0;
  position: relative;

  h1 {
    font-size: 26px;
  }
  img {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  }

  &--contact {
    font-weight: 600;

    a {
      font-weight: 500;
      color: #989595;
      text-decoration: none;
    }
  }

  &--profile-image {
    position: absolute;
    transition: transform 0.3s ease-in;
    transform: rotate(-4deg);
    top: 0;
    right: 20px;
    width: 200px;

    &:hover {
      transform: rotate(0deg);
    }
  }
  &--summary {
    width: 30em;
    margin-top: 20px;
  }
}

main {
  .Section {
    display: flex;
    min-height: 100px;
    padding: 10px 0;

    &--left {
      flex: 2;
      padding: 0 20px;
      position: relative;

      h3 {
        text-align: right;
        font-style: italic;
      }

      &:after {
        content: "";
        height: 100px;
        width: 1px;
        position: absolute;
        top: 0;
        right: 0;
        background: #989595;
      }
    }

    &--right {
      flex: 4;
      padding: 0 20px;

      &-job-title {
        display: flex;
        justify-content: space-between;

        span {
          font-size: 14px;
          color: #989595;
          opacity: 0.75;
          font-style: italic;
          padding-left: 25px;
          line-height: 30px;
        }
      }
      p {
        padding-top: 8px;
      }

      p span {
        font-weight: 700;
      }
      div {
        padding-bottom: 15px;

        &:nth-last-child(1) {
          padding-bottom: 0;
        }
      }
      ul {
        padding: 10px;
        list-style: disc inside;
      }
    }
  }
}

.Footer {
  display: flex;
  justify-content: center;
  background: #989595;

  svg {
    padding: 10px;
    font-size: 25px;
    text-decoration: none;
    color: #000000;
    transition: color 0.3s linear;

    &:hover {
      color: #00ffff;
    }
  }
}
